.projectCard {
    transition: all 0.2s ease-out;
    overflow: hidden;
    cursor: pointer;
    height: 100%;

    &:hover {
        transform: translateY(-4px);
        box-shadow: var(--shadow-l);

        .image {
            transform: scale(1.05);
        }

        .title {
            color: var(--brand-on-background-strong);
        }
    }
}

.imageContainer {
    position: relative;
    overflow: hidden;
    background: var(--neutral-background-strong);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.tags {
    position: absolute;
    top: var(--static-space-8);
    right: var(--static-space-8);
    z-index: 1;
}

.title {
    transition: color 0.2s ease-out;
}
